In [1]:
import numpy as np
import pandas as pd

In [266]:
n = 1000
expdate = np.datetime64('2019-01-01')
mas = np.random.randint(1,180,n)
customers = np.random.randint(1,200,n)
orders = np.arange(1,n+1)
products = np.random.randint(1,100,n)
prices = np.random.randint(1e3,1e5,n)
dates = mas+expdate

ordersdf = pd.DataFrame([dates,customers,orders]).transpose()
ordersdf.columns = ['dates','custid','ordid']
orderlinesdf = pd.DataFrame([orders,products,prices]).transpose()
orderlinesdf.columns = ['ordid','prodid','price']
ordersdf.head()

        dates custid ordid
0  2019-06-17     59     1
1  2019-01-09    167     2
2  2019-06-17     14     3
3  2019-06-13    198     4
4  2019-03-15     52     5

In [267]:
orderlinesdf.head()

   ordid  prodid  price
0      1      22  87452
1      2       7  54361
2      3      91   6671
3      4      79  53991
4      5       5  16510

In [268]:
newdf = pd.merge(orderlinesdf,ordersdf,how='inner',on='ordid')
idx = (pd.to_datetime('today') - pd.to_datetime(newdf.dates)).dt.days<=30
newdf = newdf.loc[idx]

topprods = newdf.prodid.value_counts().iloc[:20]#возьмем топ 20 популярных продуктов
sumsales = newdf.set_index('prodid').loc[topprods.index].price.reset_index().groupby(['prodid'])['price'].sum()
total = pd.DataFrame(pd.concat((topprods,sumsales),axis=1))
total.columns=['count','sumprice']
total.index.name='prodid'
total

        count  sumprice
prodid
1           6    315011
15          4    223020
20          5    302828
22          4    305203
24          5    302820
27          4    124095
32          4    249560
35          4    173846
40          5    255327
44          6    386255
45          5    292808
55          5    226868
59          4    297595
62          6    417498
71          7    397845
74          4    201828
77          4    178776
78          5    231500
91          4    145423
92          4    241546

Средний чек заказов:

In [270]:
total.sumprice.mean()

263482.6